.about {
  padding: 120px 40px;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.about-text {
  margin: 20px 0 40px;
  line-height: 1.7;
  color: #444;
}

.about-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.about-card {
  background: #f9f9f9;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
