.contact {
  padding: 120px 40px;
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.contact-sub {
  margin-bottom: 30px;
  color: #555;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.contact-form textarea {
  min-height: 100px;
}

.contact-form button {
  padding: 12px;
  background: teal;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
}

.contact-details a {
  text-decoration: none;
}

.whatsapp-btn {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 20px;
  background: #25d366;
  color: white;
  padding: 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
}

.logo-contact{
  margin-top: 50px;
  height: 250px;
  width: auto;
}