.footer {
  width: 100%;
  background-color: #111;
  color: #fff;
  padding: 40px 30px 20px;
  box-sizing: border-box;
}

/* TOP SECTION */
.footer-top {
  display: flex;
  justify-content: center;
  gap: 120px;
  max-width: 1100px;
  margin: 0 auto;
  flex-wrap: wrap;
}

/* LEFT */
.footer-left h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.footer-desc {
  max-width: 420px;
  font-size: 14px;
  color: #ccc;
  line-height: 1.6;
}

/* RIGHT */
.footer-right h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.footer-right p {
  margin: 6px 0;
  font-size: 14px;
}

.contact-a {
  text-decoration: none;
  color: #27b7ff;
}

/* INSTAGRAM */
.insta-row {
  margin-top: 8px;
}

.insta-link {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  color: #fff;
}

.insta-icon {
  width: 20px;
  height: 20px;
}

.footer-insta-text {
  color: #fff;
}
.insta-username {
  color: #e1306c;
}

/* WHATSAPP BUTTON */
.wsbtn {
  width: 133px;
  font-size: 1rem;
}

/* DIVIDER */
.footer-divider {
  margin: 25px 0 15px;
  border: none;
  border-top: 1px solid #333;
}

/* BOTTOM */
.footer-bottom {
  text-align: center;
  font-size: 15px;
  color: #bbb;
}

/* RESPONSIVE */
@media (max-width: 880px) {
  .footer-top {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .footer-desc {
    margin: auto;
  }

  .insta-link {
    justify-content: center;
  }

  .wsbtn {
    width: 129px;
    font-size: 0.85rem;
  }
}
